name: HitnRun unit tests

on:
  push:
    branches: [ "main", "master", "dev" ]
  pull_request:
    branches: [ "main", "master", "dev" ]

jobs:
  unit-tests:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: "20"
          distribution: "temurin"
          cache: maven
      
      - name: Setup mssql container
        run: docker-compose -f "docker-compose.yml" up -d --build
      
      - name: Run unit tests
        uses: coactions/setup-xvfb@v1
        with:
          run: mvn -B clean test
      
      - name: Stop container
        run: docker-compose -f "docker-compose.yml" down